<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <% include ./partials/header %>
    <title>Friends</title>
</head>

<body>
    <% include ./partials/nav %>

    <% if(flash_message.length >0) { %>
    <div class="alert alert-success" role="alert">
        <%= flash_message %>
    </div>
    <% } %>
    <div class="container" id="friendSearch">
        <form action="/friends" method="POST">
            <div class="form-row">
                <div class="col">
                    <input id="friendName" name="friendName" type="text" class="form-control" placeholder="Add friend by name">
                </div>
                <button id="sendRequest" type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>

    <div class="container">
        <div class="jumbotron">
            <h3>Friends</h3>
            <ul class="list-group">
                <%for(const friend of friends) { %>
                <li class="list-group-item">
                    <div>
                    <img src="/public/images/<%= friend.photoURL %>" width="30" height="30" class="circlePhoto" alt="<%= friend.username %>'s profile photo">
                    <strong>
                        <%= friend.username %> </strong>
                    <div id="deleteFriend">
                            <form action="/deleteFriend" method="POST">
                                <input type="hidden" name="_id" value="<%= friend._id %>">
                                <input type="hidden" name="friendName" value="<%= friend.username %>">
                                <button 
                                type="submit" id="deletefriend" name="deletefriend" 
                                class="btn btn-outline-danger circlePhoto">Delete</button>
                            </form>
                        </div>
                        </div>
                </li>
                <% } %>
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="jumbotron">
            <h3>Invites</h3>
            <ul class="list-group">
                <%for(const invite of invites) { %>
                <li class="list-group-item">
                    <img src="/public/images/<%= invite.sender.photoURL %>" width="30" height="30" class="circlePhoto"
                        alt="<%= invite.sender.username %>'s profile photo">
                    <strong>
                        <%= invite.sender.username %> </strong> invited you to join
                    <img src="<%= invite.chatRoom.photoURL %>" width="30" height="30" class="circlePhoto"
                        alt="<%= invite.chatRoom.name %>'s photo">
                    <strong>
                        <%= invite.sender.chatRoomName %> </strong>
                    <a role="button" class="btn btn-outline-success circlePhoto" href="/friends/<%= invite._id %>?chatRoomID=<%= invite.chatRoom._id %>&isAccepted=true">
                        +
                    </a>
                    <a role="button" class="btn btn-outline-danger circlePhoto" href="/friends/<%= invite._id %>?chatRoomID=<%= invite.chatRoom._id %>&isAccepted=false">
                        -
                    </a>
                </li>
                <% } %>
            </ul>
        </div>
    </div>
    <%  include ./partials/scripts %>
</body>

</html>