<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <% include ./partials/header %>
    <title>Welcome Page!</title>
</head>

<body onload="setupMessages();">
    <% include ./partials/nav %>

    <% if(typeof(flash_message) !== 'undefined'){%>
    <% if(flash_message.length >0) { %>
    <div class="alert alert-success" role="alert">
        <%= flash_message %>
    </div>
    <% } %>
    <%}%>

    <!--********************************************************************************************************-->
    <!--*       List of Chat Rooms                                                                             *-->
    <!--********************************************************************************************************-->
    <div class="container chatrooms">
        <div class="row">
            <div class="col-2" id="chatList">
                <div>
                    <% if(chatRooms) { %>
                    <ul class="listRooms">
                        <% for(const chatRoom of chatRooms) { %>
                        <li class="roomCol">
                        <div>
                            <div>
                                <button class="switch">
                                    <a href="/welcome/<%=chatRoom._id%>">
                                        <img class="circlePhoto img-responsive" src="<%= chatRoom.photoURL %>" alt="<%=chatRoom.name%>"
                                            height="50" width="50">
                                    </a>
                                </button>
                            </div>
                                <!--********************************************************************************************************-->
                                <!--*       Delete Chat Rooms                                                                             *-->
                                <!--*****************************************************************************-->
                            <div id="deleteroom">
                                <form action="/deleteRoom" method="POST">
                                    <input type="hidden" name="_id" value="<%= chatRoom._id %>">
                                    <button 
                                    type="submit" id="deleteChatroom" name="deleteChatroom" 
                                    class="btn btn-danger">Delete</button>
                                </form>
                            </div>
                        </div>
                        </li>
                        <% } %>
                    </ul>
                    <% } %>
                    <!--********************************************************************************************************-->
                    <!--*       ADD CHATROOM                                                                             *-->
                    <!--********************************************************************************************************-->
                    <a id="addChatroom" href="/chatroom/"><i class="fas fa-plus-circle"></i></a>
                </div>
            </div>
            <div class="col-9" id="chatLayout" <%if(typeof(openChatRoom)==='undefined' ){%> hidden
                <%}%>>
                <div id="messagesContainer">
                    <!--********************************************************************************************************-->
                    <!--*       Message Contents                                                                               *-->
                    <!--********************************************************************************************************-->
                    <%if(typeof(openChatRoom) !== 'undefined'){%>
                    <%if(typeof(messages) !== 'undefined'){
                    for(const message of messages){%>
                    <% if (message.username == user.username) { %>
                    <div class="message">
                        <div class="userInfo">

                            <img src="/public/images/<%=message.userPhotoURL%>" width="30" height="30" class="circlePhoto">
                            <small>
                                <%=message.username%></small>
                        </div>
                        <div class="messageInfo">
                            <small>
                                <%=utility.getDateTime(message.timestamp)%></small>
                            <p>
                                <%=message.text%>
                            </p>
                        </div>

                        <div class="dropdown">
                            <input class="dropbtn" type="image" src="../public/homeImages/editButton.png" alt="Submit"
                                width="30" height="30">
                            <div class="dropdown-content">
                                    <form action="/editMessage" method="POST">
                                        <input type="hidden" name="_id" value="">
                                        <button 
                                        type="submit" id="deleteChatroom" name="deleteChatroom" 
                                        class="btn btn-info">Edit</button>
                                    </form>
                                <form action="/deleteMessage" method="POST">
                                    <input type="hidden" name="_id" value="<%= message._id %>">
                                    <button 
                                    type="submit" id="deleteChatroom" name="deleteChatroom" 
                                    class="btn btn-danger">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <% } else { %>
                    <div class="message">
                        <div class="userInfoRight">

                            <img src="/public/images/<%=message.userPhotoURL%>" width="30" height="30" class="circlePhoto">
                            <a href="#"> <small>
                                    <%=message.username%></small> </a>
                        </div>
                        <div class="messageInfoRight">
                            <small>
                                <%=utility.getDateTime(message.timestamp)%>
                            </small>
                            <p>
                                <%=message.text%>
                            </p>
                        </div>
                    </div>
                    <% } %>
                    <%}%>

                </div>
                <form method="POST" id="messageSender" action='/welcome/<%=openChatRoom._id%>'>
                    <div class="chatroomInputs">
                        <!-- this div will have input fields fixed to the bottom -->
                        <textarea id="messageBox" name="message" rows="2" placeholder="Comment" onkeypress="return checkKey(event);"
                            autofocus></textarea>
                        <div id="chatOptionsContainer">
                            <div class="btn-group dropup">
                                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                </button>
                                <div class="dropdown-menu">
                                    <!-- Dropdown menu links -->
                                    <a class="dropdown-item" onclick="inviteFriend('<%= openChatRoom._id %>')">Invite
                                        Friend</a>
                                    <a class="dropdown-item">Voice Call</a>
                                    <a class="dropdown-item" id="videoCallID" onclick="WebcamPage()">Video Call</a>
                                    <form action="/uploadFile" method="POST" enctype="multipart/form-data">
                                        <input id="imageFile" type="file">
                                        <button type="submit" class="btn btn-outline-info">Upload</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <%}%>
                <%}%>
            </div>
        </div>
    </div>

    <script>
        var localUser = JSON.parse('<%if(typeof(localUser) != "undefined"){%><%-localUser%><%}else{%>{}<%}%>');    //get user object from ejs

        function setupMessages() {
            let messagesContainer = document.getElementById('messagesContainer');
            if (messagesContainer) {
                //auto scroll to most recent message
                //https://www.codeproject.com/Questions/632251/How-to-make-div-scroll-to-bottom-on-load
                messagesContainer.scrollTop = messagesContainer.scrollHeight;
            }
        }

        function WebcamPage() {
            window.open("/initWebcam", "Init Webcam", "toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=500,width=500,height=600");
        }

        function inviteFriend(chatRoomID) {
            let friendsWindow = open('/inviteFriend', 'Invite a Friend!', 'width=300,height=300')
            friendsWindow.focus();
            window.addEventListener("message", event => {
                if (event.origin == 'http://localhost:3000') {
                    let friendID = event.data;
                    if (friendID.startsWith('_id:')) {
                        friendID = friendID.substring(4);
                        //redirect
                        window.location.replace(`/sendInvite/${chatRoomID}?friendID=${friendID}`);
                    }
                }
            });
        }
    </script>

    <%  include ./partials/scripts %>
</body>

</html>